<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>
<title>照片生产模型平台</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{css/bootstrap.min.css}"></link>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{css/bootstrap-theme.min.css}"></link>
<!-- Upload -->
<link rel="stylesheet" type="text/css"
	th:href="@{webuploader-0.1.5/webuploader.css}"></link>
<link rel="stylesheet" type="text/css"
	th:href="@{webuploader-0.1.5/style.css}"></link>
<!-- jquery -->
<script type="text/javascript" th:src="@{js/jquery-3.1.1.js}"></script>
<!-- Bootstrap core js -->
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
</head>
<script type="text/javascript" th:inline="javascript">
	var id=[[${isp.id}]];
	var type=[[${type}]];
</script>
<body>

	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"> <img alt="Brand" height="20"
					th:src="@{img/logo.png}" /></a>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#">北京中天易观信息技术有限公司</a></li>
				</ul>
				<form th:action="@{/logout}" method="post"
					class="navbar-form navbar-right" role="form">
					<button type="submit" class="btn btn-default">退出登录</button>
				</form>
			</div>
		</div>
	</nav>
	<div class="container">
		<div th:switch="${type}">
			<p th:case="'image'" th:inline="text">
				作品:[[${isp.name}]],创建成功!请上传文件(jpg,zip)</p>
			<p th:case="'obj'" th:inline="text">
				作品:[[${isp.name}]],创建成功!请上传文件(jpg,zip,mtl,obj)</p>
		</div>

		<hr />
		<div class="row">
			<div class="col-md-12">
				<div id="uploader">
					<div class="queueList">
						<div id="dndArea" class="placeholder">
							<div id="filePicker"></div>
							<p>或将照片拖到这里</p>
						</div>
					</div>
					<div class="statusBar" style="display: none;">
						<div class="progress">
							<span class="text">0%</span> <span class="percentage"></span>
						</div>
						<div class="info"></div>
						<div class="btns">
							<div id="filePicker2"></div>
							<div class="uploadBtn">开始上传</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form th:action="@{/update_project}" method="post"
					class="navbar-form" role="form">
					<input type="hidden" name="id" th:value="${isp.id}" />
					<div th:switch="${type}">
						<p th:case="'image'">
							<input type="hidden" name="status" value="2" />
							<button type="submit" class="btn btn-primary btn-lg disabled"
								id="button_kk">提交生产>></button>
						</p>
						<p th:case="'obj'">
							<input type="hidden" name="status" value="4" />
							<button type="submit" class="btn btn-primary btn-lg disabled"
								id="button_kk">上传完成>></button>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript"
		th:src="@{webuploader-0.1.5/webuploader.js}"></script>
	<script type="text/javascript" th:src="@{webuploader-0.1.5/upload.js}"></script>
</body>
</html>